<div class="container">
  <div class="org-banner">
    <div class="org-pic">
      <img src="{{img_db.PhotoDb.group_pics.group1}}" alt="">
    </div>
    <div class="p-wrapper">
      <div class="our-idea">
        <h1>Our Idea</h1>
        <p>
          Our goal was to spread the beauty of art to as many as possible. How someone can turn their imagination into real and  
          created a platform where kids or anyone can show their creativity. We teach others what makes art "great" and also how 
          they can create great art. Every year we organise an event where anyone can show their crafts and arts and we store those
          crafts to our gallery where people can easily access those craft's pictures through this website. 
          <a href="https://chitrakala-bidyamandir.netlify.app/gallery">You can checkout our gallery section to see the crafts and arts </a> .
          <br><br>
          to join us you can contact any of these phone numbers : - 9875505882,7278052791.      

          
      </p>
      </div>
      <div class="begin">
        <h1>how we began</h1>
        <p>We started teaching 10 students from 2015 last year we crossed 100 students. More than 100 of 
          participants joins our event every year and that's what made our journey successful.   </p>
      </div>
    </div>
  </div>
  <about-group></about-group>
</div>
<app-footer></app-footer>
