<ng-container>
  <div class="footer">
    <div class="hr"></div>
    <a pButton type="button" label="Download Android App" class="p-button-outlined" href="assets/appfile/ChitraKala-Bidyamandir.apk" download></a>
    <div class="social-media">
      <a href="tel:+919875505882" class="pi pi-phone" ></a>
      <!-- <div>whatsapp</div> -->
      <!-- <div>instagram</div> -->
      <a href="mailto:suvajitsadhaksuvo@gmail.com" class="pi pi-envelope"></a>
      <a href="https://www.facebook.com/suvajit.sadhak" class="pi pi-facebook"></a>
    </div>
  </div>
</ng-container>