<ng-container>
  <p-accordion [multiple]="true">
    <p-accordionTab>
      <ng-template pTemplate="header">
        <div class="header-wrapper">
          <div class="img-wrapper">
            <img src="{{img_db.PhotoDb.creators.initiator}}" alt="">
          </div>
          <div class="description">
            <h4 class="name">Suvajit Sadhak</h4>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="role">founder of chitrakala bidyamandir and teacher at chitrakala bidyamandir</div>
        <a href="tel:+919875505882" class="pi pi-phone"> +91 9875505882</a> 
      </ng-template>
    </p-accordionTab>
    <p-accordionTab>
      <ng-template pTemplate="header">
        <div class="header-wrapper">
          <div class="img-wrapper">
            <img src="{{img_db.PhotoDb.creators.teacher2}}" alt="">
          </div>
          <div class="description">
            <h4 class="name">Amit Debsharma</h4>
          </div>
        </div>
      </ng-template>      
      <ng-template pTemplate="content">
        <div class="role">co-founder of chitrakala bidyamandir and teacher at chitrakala bidyamandir</div>
        <a href="tel:+918013719743" class="pi pi-phone"> +91 8013719743</a> 
      </ng-template>    
    </p-accordionTab>
    <p-accordionTab>
      <ng-template pTemplate="header">
        <div class="header-wrapper">
          <div class="img-wrapper">
            <img src="{{img_db.PhotoDb.creators.teacher3}}" alt="">
          </div>
          <div class="description">
            <h4 class="name">Bappa Mondal</h4>
            
          </div>
        </div>
      </ng-template>      
      <ng-template pTemplate="content">
        <div class="role">co-founder of chitrakala bidyamandir and teacher at chitrakala bidyamandir</div>
        <a href="tel:+916290095967" class="pi pi-phone"> +91 6290095967</a> 

      </ng-template>    
    </p-accordionTab>
    <p-accordionTab>
      <ng-template pTemplate="header">
        <div class="header-wrapper">
          <div class="img-wrapper">
            <img src="{{img_db.PhotoDb.creators.teacher4}}" alt="">
          </div>
          <div class="description">
            <h4 class="name">Sourav sadhak</h4>
          </div>
        </div>
      </ng-template>      
      <ng-template pTemplate="content">
        <div class="role">co-founder of chitrakala bidyamandir and teacher at chitrakala bidyamandir</div>
      </ng-template>    
    </p-accordionTab>
    <!-- <p-accordionTab>
      <ng-template pTemplate="header">
        <div class="header-wrapper">
          <div class="img-wrapper">
            <img src="{{img_db.PhotoDb.creators.teacher5}}" alt="">
          </div>
          <div class="description">
            <h4 class="name">Pritam Sil</h4>
          </div>
        </div>
      </ng-template>      
      <ng-template pTemplate="content">
        <div class="role">teacher at chitrakala bidyamandir</div>
        contact: 7278052791
      </ng-template>    
    </p-accordionTab> -->
    <p-accordionTab>
      <ng-template pTemplate="header">
        <div class="header-wrapper">
         developer contact
        </div>
      </ng-template>      
      <ng-template pTemplate="content">
        <div class="dev-wrapper">
          <div class="dev-img-wrapper">
            <img src="{{img_db.PhotoDb.creators.developer}}" alt="">
          </div>
          <div class="description">
            Name: Arindam Dutta <br>
            <a href="tel:+918282826909" class="pi pi-phone"> +91 8282826909</a> 
            <a href="mailto:darindam507@gmail.com" class="pi pi-envelope" style="color:orange;">darindam507@gmail.com</a>
          </div>
        </div>
      </ng-template>    
    </p-accordionTab>
  </p-accordion>
</ng-container>
