

// .slider{
//   height: 200px;
//   width: 200px;
// }
// .slider-img{
//   height: 100px;
//   width: 100px;
// }
// .slider-img img{
//   height: 100%;
//   width: 100%;
// }
.cards-container{
  // width: 100%;
  order: 3;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
}
.banner{
  .event-wrapper{  
    .captions{
      // background-color: red;
      height: 100px;  
    }
    .image{
      // background-color: white;
      img{
        height: 100%;
        width: 100%;
      }
      height: 300px;
      width: 100%;
    
    }
    // background: red;
    margin-top: 100px;
    height: 400px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  order: 1;
  width: 100%;
  height: 700px;
  background-color: #ffefe1;
  color: #FF5722;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  
}

.img-slider{
  // display: flex;
  order: 2;
  margin-bottom: 20px;
  // padding: 20px;
  // height: 800px;
  // width: 100%;

}


.spin{
  animation: spin 200s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media screen and (max-width: 768px) {
  // .captions{
  //   h1{
  //     display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   }
    
  // }
  .cards-container{
    order: 3;
  }
  .banner{
    order: 2;
  }
  .img-slider{
    margin-bottom: 0px;
    flex-direction: column;
    order: 1;  
  }

}