  <div class="swiper-container">
      <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="pic-caption">
                <h1>{{images[0].imgCaption}}</h1>
              </div>
              <img src="{{images[0].imgURL}}" alt="">
            </div>
            <div class="swiper-slide">
              <div class="pic-caption">
                <h1>{{images[1].imgCaption}}</h1>
              </div>
              <img src="{{images[1].imgURL}}" alt="">
            </div>
            <div class="swiper-slide">
              <div class="pic-caption">
                <h1>{{images[2].imgCaption}}</h1>
              </div>
              <img src="{{images[2].imgURL}}" alt="">
            </div>
            <div class="swiper-slide">
              <div class="pic-caption">
                <h1>{{images[3].imgCaption}}</h1>
              </div>
              <img src="{{images[3].imgURL}}" alt="">
            </div>
            <div class="swiper-slide">
              <div class="pic-caption">
                <h1>{{images[4].imgCaption}}</h1>
              </div>
              <img src="{{images[4].imgURL}}" alt="">
            </div>
            <div class="swiper-slide">
              <div class="pic-caption">
                <h1>{{images[4].imgCaption}}</h1>
              </div>
              <img src="{{images[4].imgURL}}" alt="">
            </div>
      </div>
  </div>


