<nav class="navbar">
  <input id="nav-toggle" type="checkbox">
  <div class="logo">Chitrakala<strong>Bidyamandir</strong></div>
  <ul class="links">
    <li class="nav-menu-link" routerLink="/home" routerLinkActive="active"><span><i class="pi pi-home"></i></span>Home</li>
    <li class="nav-menu-link" routerLink="/about" routerLinkActive="active"><span><i class="pi pi-info-circle"></i></span>AboutUs</li>
    <li class="nav-menu-link" routerLink="/gallery" routerLinkActive="active"><span><i class="pi pi-camera"></i></span>Gallery</li>
    <li class="nav-menu-link" routerLink="/events" routerLinkActive="active"><span><i class="pi pi-book"></i></span>Events</li>
  </ul>
  <label for="nav-toggle" class="icon-burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>
</nav>
<!-- <div (click)="scrolling($event)" > -->
  <button (click)="scrolling($event)" styleClass="p-button-lg" icon="pi pi-chevron-up" pButton pRipple type="button" class="p-button-rounded p-button-outlined p-button-lg take-to-top">
  </button>
<!-- </div> -->

<span class="p-overlay-badge bell">
  <i class="pi pi-bell material-icons layer-3">
    <span class="p-badge">1</span>
  </i>
</span>
<router-outlet></router-outlet>

