/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/saga-blue/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import 'https://unpkg.com/swiper/swiper-bundle.min.css';
@import 'https://fonts.gstatic.com';
@import 'https://fonts.googleapis.com/css2?family=Langar&display=swap';

*{
  margin: 0;
  padding: 0;
}
html{
	scroll-behavior: smooth;
}
body {
	background-color:	#ffefe1;
	padding: 0;
	margin: 0;
}
.container {
	margin-top: 80px;
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 768px) {
.container{
	margin-top: 60px;
}
}
